In [1]:
import sqlite3
import pandas as pd

# Create a temporary SQLite database
conn = sqlite3.connect(':memory:')

# Sample data for hotels (assuming the table name is 'hotels')
data = [
    (1, 'Hotel A', 'Sydney', 'Location A', 100, 8.5, '4 stars', 'Excellent'),
    (2, 'Hotel B', 'London', 'Location B', 150, 9.0, '5 stars', 'Superb'),
    (3, 'Hotel C', 'Sydney', 'Location C', 80, 7.5, '3 stars', 'Good'),
    (4, 'Hotel D', 'Paris', 'Location D', 120, 8.0, '4 stars', 'Very Good'),
]

# Create a table and import the data
conn.execute('''
CREATE TABLE hotels (
    sno INT,
    "Hotel name" TEXT,
    cities TEXT,
    location TEXT,
    "number of reviews" INT,
    "user ratings" FLOAT,
    "star rating" TEXT,
    "review score" TEXT
)
''')

conn.executemany('INSERT INTO hotels VALUES (?, ?, ?, ?, ?, ?, ?, ?)', data)

# Run the SQL query
query = '''
SELECT *
FROM hotels
WHERE cities = 'Sydney' AND "user ratings" > 5;
'''

result = pd.read_sql_query(query, conn)

# Close the database connection
conn.close()

# Print the result
print(result)

   sno Hotel name  cities    location  number of reviews  user ratings  \
0    1    Hotel A  Sydney  Location A                100           8.5
1    3    Hotel C  Sydney  Location C                 80           7.5

  star rating review score
0     4 stars    Excellent
1     3 stars         Good

In [2]:
import pandas as pd

# Sample data for 12 cities (replace this with your actual data)
data = {
    'Hotel name': ['Hotel A', 'Hotel B', 'Hotel C', 'Hotel D', 'Hotel E',
                   'Hotel F', 'Hotel G', 'Hotel H', 'Hotel I', 'Hotel J',
                   'Hotel K', 'Hotel L'],
    'Cities': ['Dubai', 'London', 'Paris', 'New York', 'Tokyo',
               'Sydney', 'Los Angeles', 'Beijing', 'Mumbai', 'Rome',
               'Cairo', 'Toronto'],
    'Location': ['Downtown', 'City Center', 'Eiffel Tower', 'Times Square', 'Shinjuku',
                 'Opera House', 'Hollywood', 'Forbidden City', 'Marine Drive', 'Colosseum',
                 'Pyramids', 'CN Tower'],
    'Number of Reviews': [500, 700, 300, 900, 400, 600, 800, 400, 1000, 500, 300, 500],
    'User Ratings': [4.2, 4.5, 4.0, 4.8, 4.2, 4.3, 4.6, 4.1, 4.9, 4.3, 4.0, 4.4],
    'Star Rating': [4, 5, 4, 5, 4, 4, 5, 4, 5, 4, 4, 4],
    'Review Score': [8.4, 9.0, 8.1, 9.2, 8.5, 8.7, 9.1, 8.0, 9.4, 8.6, 8.1, 8.5]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Find the location with the most reviews
location_with_most_reviews = df.groupby('Location')['Number of Reviews'].sum().idxmax()

print("Location with the Most Reviews:", location_with_most_reviews)

# Print the result
print(result)

Location with the Most Reviews: Marine Drive
   sno Hotel name  cities    location  number of reviews  user ratings  \
0    1    Hotel A  Sydney  Location A                100           8.5
1    3    Hotel C  Sydney  Location C                 80           7.5

  star rating review score
0     4 stars    Excellent
1     3 stars         Good

In [3]:
import pandas as pd

# Sample data for 12 cities (replace this with your actual data)
data = {
    'Hotel name': ['Hotel A', 'Hotel B', 'Hotel C', 'Hotel D', 'Hotel E',
                   'Hotel F', 'Hotel G', 'Hotel H', 'Hotel I', 'Hotel J',
                   'Hotel K', 'Hotel L'],
    'Cities': ['Dubai', 'London', 'Paris', 'New York', 'Tokyo',
               'Sydney', 'Los Angeles', 'Beijing', 'Mumbai', 'Rome',
               'Cairo', 'Toronto'],
    'Location': ['Downtown', 'City Center', 'Eiffel Tower', 'Times Square', 'Shinjuku',
                 'Opera House', 'Hollywood', 'Forbidden City', 'Marine Drive', 'Colosseum',
                 'Pyramids', 'CN Tower'],
    'Number of Reviews': [500, 700, 300, 900, 400, 600, 800, 400, 1000, 500, 300, 500],
    'User Ratings': [4.2, 4.5, 4.0, 4.8, 4.2, 4.3, 4.6, 4.1, 4.9, 4.3, 4.0, 4.4],
    'Star Rating': [4, 5, 4, 5, 4, 4, 5, 4, 5, 4, 4, 4],
    'Review Score': [8.4, 9.0, 8.1, 9.2, 8.5, 8.7, 9.1, 8.0, 9.4, 8.6, 8.1, 8.5]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Sort the DataFrame in descending order of user ratings
sorted_df = df.sort_values(by='User Ratings', ascending=False)

# Display the sorted DataFrame
print(sorted_df)

   Hotel name       Cities        Location  Number of Reviews  User Ratings  \
8     Hotel I       Mumbai    Marine Drive               1000           4.9
3     Hotel D     New York    Times Square                900           4.8
6     Hotel G  Los Angeles       Hollywood                800           4.6
1     Hotel B       London     City Center                700           4.5
11    Hotel L      Toronto        CN Tower                500           4.4
5     Hotel F       Sydney     Opera House                600           4.3
9     Hotel J         Rome       Colosseum                500           4.3
0     Hotel A        Dubai        Downtown                500           4.2
4     Hotel E        Tokyo        Shinjuku                400           4.2
7     Hotel H      Beijing  Forbidden City                400           4.1
2     Hotel C        Paris    Eiffel Tower                300           4.0
10    Hotel K        Cairo        Pyramids                300           4.0

    Star Rating  Review Score
8             5           9.4
3             5           9.2
6             5           9.1
1             5           9.0
11            4           8.5
5             4           8.7
9             4           8.6
0             4           8.4
4             4           8.5
7             4           8.0
2             4           8.1
10            4           8.1

In [4]:
import pandas as pd

# Sample data for 12 cities (replace this with your actual data)
data = {
    'Hotel name': ['Hotel A', 'Hotel B', 'Hotel C', 'Hotel D', 'Hotel E',
                   'Hotel F', 'Hotel G', 'Hotel H', 'Hotel I', 'Hotel J',
                   'Hotel K', 'Hotel L'],
    'Cities': ['Dubai', 'London', 'Paris', 'New York', 'Tokyo',
               'Sydney', 'Los Angeles', 'Beijing', 'Mumbai', 'Rome',
               'Cairo', 'Toronto'],
    'Location': ['Downtown', 'City Center', 'Eiffel Tower', 'Times Square', 'Shinjuku',
                 'Opera House', 'Hollywood', 'Forbidden City', 'Marine Drive', 'Colosseum',
                 'Pyramids', 'CN Tower'],
    'Number of Reviews': [500, 700, 300, 900, 400, 600, 800, 400, 1000, 500, 300, 500],
    'User Ratings': [4.2, 4.5, 4.0, 4.8, 4.2, 4.3, 4.6, 4.1, 4.9, 4.3, 4.0, 4.4],
    'Star Rating': [4, 5, 4, 5, 4, 4, 5, 4, 5, 4, 4, 4],
    'Review Score': [8.4, 9.0, 8.1, 9.2, 8.5, 8.7, 9.1, 8.0, 9.4, 8.6, 8.1, 8.5]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Filter rows where star rating is greater than or equal to 4.0
filtered_df = df.loc[df['Star Rating'] >= 4.0]

# Sort the filtered DataFrame in descending order of review score
sorted_df = filtered_df.sort_values(by='Review Score', ascending=False)

# Display the sorted DataFrame
print(sorted_df)

   Hotel name       Cities        Location  Number of Reviews  User Ratings  \
8     Hotel I       Mumbai    Marine Drive               1000           4.9
3     Hotel D     New York    Times Square                900           4.8
6     Hotel G  Los Angeles       Hollywood                800           4.6
1     Hotel B       London     City Center                700           4.5
5     Hotel F       Sydney     Opera House                600           4.3
9     Hotel J         Rome       Colosseum                500           4.3
4     Hotel E        Tokyo        Shinjuku                400           4.2
11    Hotel L      Toronto        CN Tower                500           4.4
0     Hotel A        Dubai        Downtown                500           4.2
2     Hotel C        Paris    Eiffel Tower                300           4.0
10    Hotel K        Cairo        Pyramids                300           4.0
7     Hotel H      Beijing  Forbidden City                400           4.1

    Star Rating  Review Score
8             5           9.4
3             5           9.2
6             5           9.1
1             5           9.0
5             4           8.7
9             4           8.6
4             4           8.5
11            4           8.5
0             4           8.4
2             4           8.1
10            4           8.1
7             4           8.0

In [5]:
import pandas as pd

# Sample data for 12 cities (replace this with your actual data)
data = {
    'Hotel name': ['Hotel A', 'Hotel B', 'Hotel C', 'Hotel D', 'Hotel E',
                   'Hotel F', 'Hotel G', 'Hotel H', 'Hotel I', 'Hotel J',
                   'Hotel K', 'Hotel L'],
    'Cities': ['Dubai', 'London', 'Paris', 'New York', 'Tokyo',
               'Sydney', 'Los Angeles', 'Beijing', 'Mumbai', 'Rome',
               'Cairo', 'Toronto'],
    'Location': ['Downtown', 'City Center', 'Eiffel Tower', 'Times Square', 'Shinjuku',
                 'Opera House', 'Hollywood', 'Forbidden City', 'Marine Drive', 'Colosseum',
                 'Pyramids', 'CN Tower'],
    'Number of Reviews': [500, 700, 300, 900, 400, 600, 800, 400, 1000, 500, 300, 500],
    'User Ratings': [4.2, 4.5, 4.0, 4.8, 4.2, 4.3, 4.6, 4.1, 4.9, 4.3, 4.0, 4.4],
    'Star Rating': [4, 5, 4, 5, 4, 4, 5, 4, 5, 4, 4, 4],
    'Review Score': [8.4, 9.0, 8.1, 9.2, 8.5, 8.7, 9.1, 8.0, 9.4, 8.6, 8.1, 8.5]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Count the number of hotels in each city
hotel_count_by_city = df.groupby('Cities')['Hotel name'].count().reset_index()
hotel_count_by_city.rename(columns={'Hotel name': 'Number of Hotels'}, inplace=True)

# Display the hotel count by city
print(hotel_count_by_city)

         Cities  Number of Hotels
0       Beijing                 1
1         Cairo                 1
2         Dubai                 1
3        London                 1
4   Los Angeles                 1
5        Mumbai                 1
6      New York                 1
7         Paris                 1
8          Rome                 1
9        Sydney                 1
10        Tokyo                 1
11      Toronto                 1

In [17]:
import pandas as pd

# Load the DataFrame from the CSV file
df2 = pd.read_csv('data2.csv')

# Retrieve hotels that have both a restaurant and a bar
filtered_df = df2[(df2['Restaurant'] == 'Yes') & (df2['Bar'] == 'Yes')]

# Display the filtered DataFrame
print(filtered_df)

    sno Hotel name Free Wifi Family rooms Non Smoking Rooms Restaurant  Bar  \
0     1    Hotel A       Yes          Yes               Yes        Yes  Yes
1     2    Hotel B       Yes          Yes               Yes        Yes  Yes
2     3    Hotel C        No          Yes               Yes        Yes  Yes
3     4    Hotel D       Yes          Yes               Yes        Yes  Yes
4     5    Hotel E       Yes           No               Yes        Yes  Yes
5     6    Hotel F       Yes          Yes               Yes        Yes  Yes
6     7    Hotel G       Yes           No                No        Yes  Yes
7     8    Hotel H       Yes          Yes               Yes        Yes  Yes
8     9    Hotel I       Yes          Yes               Yes        Yes  Yes
9    10    Hotel J        No          Yes               Yes        Yes  Yes
10   11    Hotel K       Yes          Yes               Yes        Yes  Yes
11   12    Hotel L       Yes          Yes               Yes        Yes  Yes

   Heating Lift Breakfast Cuisine1 Breakfast Cuisine2 Breakfast Cuisine3
0      Yes  Yes        Continental             Buffet           Omelette
1      Yes  Yes            English        Continental      Eggs Benedict
2      Yes  Yes             French          Croissant              Crepe
3      Yes  Yes           American             Buffet           Pancakes
4      Yes   No           Japanese              Sushi              Natto
5      Yes  Yes         Australian       Full English  Vegemite on Toast
6      Yes   No           American           Pancakes     Bacon and Eggs
7      Yes  Yes            Chinese            Dim Sum             Congee
8      Yes  Yes             Indian               Poha               Idli
9      Yes  Yes            Italian           Pastries             Coffee
10     Yes  Yes           Egyptian            Falafel        Ful Medames
11     Yes  Yes           Canadian     Bacon and Eggs        Maple Syrup

In [18]:
import pandas as pd

# Load the DataFrame from the CSV file
df2 = pd.read_csv('data2.csv')

# Retrieve hotels that offer free Wi-Fi and have family rooms
filtered_df = df2[(df2['Free Wifi'] == 'Yes') & (df2['Family rooms'] == 'Yes')]

# Display the filtered DataFrame
print(filtered_df)

    sno Hotel name Free Wifi Family rooms Non Smoking Rooms Restaurant  Bar  \
0     1    Hotel A       Yes          Yes               Yes        Yes  Yes
1     2    Hotel B       Yes          Yes               Yes        Yes  Yes
3     4    Hotel D       Yes          Yes               Yes        Yes  Yes
5     6    Hotel F       Yes          Yes               Yes        Yes  Yes
7     8    Hotel H       Yes          Yes               Yes        Yes  Yes
8     9    Hotel I       Yes          Yes               Yes        Yes  Yes
10   11    Hotel K       Yes          Yes               Yes        Yes  Yes
11   12    Hotel L       Yes          Yes               Yes        Yes  Yes

   Heating Lift Breakfast Cuisine1 Breakfast Cuisine2 Breakfast Cuisine3
0      Yes  Yes        Continental             Buffet           Omelette
1      Yes  Yes            English        Continental      Eggs Benedict
3      Yes  Yes           American             Buffet           Pancakes
5      Yes  Yes         Australian       Full English  Vegemite on Toast
7      Yes  Yes            Chinese            Dim Sum             Congee
8      Yes  Yes             Indian               Poha               Idli
10     Yes  Yes           Egyptian            Falafel        Ful Medames
11     Yes  Yes           Canadian     Bacon and Eggs        Maple Syrup